
h1 {
     color: rgb(233, 236, 239);
    text-align: center;
 }       
h2 {
    color: rgb(173, 181, 189)
}
body {
    background-color: rgb(84, 106, 123)
}

p {
    line-height: 1,5em;
    font-weight: 400;
    font-family: sans-serif; 
    color: rgb(248, 249, 250);
    margin-top: 15px;
}

.tamanho-da-habilidade {
    font-size: 20px;

}
a {
    padding: 8px;
    border-radius: 25px;
    background-color: rgb(173, 181, 189);
    text-decoration: none;
}
.TextoSobre {
    float: right;
    width: 75%;
}
.BackgroundColor {
    margin: 35px 35px;  
    padding: 35px 35px;
    background-color: rgb(33, 37, 41);
}


